venv/
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.mo
*.swp
.DS_Store
.idea/
.vscode/

# MacOS
*.DS_Store

# Python virtual environments
env/

# Local dotenv files
.local_settings.py
local_settings.py

# Ignore shapefile components
data/*.shp
data/*.shx
data/*.dbf
data/*.prj
data/*.cpg
data/*.qgz
data/*.pgw
data/*.qpj
data/*.sbn
data/*.sbx
data/*.shp.xml

# BUT keep geojson folder
!data/geojson/
!data/geojson/*